body{
    background-color: #5B85AA;
    border-color: #372248;
    border-style: double;
    border-width: 1vw;
    height: 98vh;
}


.logo{
    width: 50vw;
    height: 10vh;
    background-color: #F46036;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.logo>p{
    font-size: 4.5vh;
    padding-top: 20px;
}




.weather {
text-align: center;
}


nav{
    display: flex;
    column-gap: 3vw;
    justify-content: center;
    background-color: #414770;
    border-radius: 10px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

}

nav>a{
    color: #F46036;
   font-size: 3vh;
   text-align: center;

   text-decoration: none;

}


/* All articles in the index page */

.aindex{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

.aindex>article{
    display: flex;
    column-gap: 25vw;
}

.aindex>article>div{
    background-color: #414770;
    width: 35vw;
    height: 23vh;
    border-radius: 1.2vw;
    text-align: center;
    font-size: 2.5vh;
}

.aindex>article>div>p{
    font-size: 2vh;
}

.aindex>article>img{
    width: auto;
    height: 23vh;
}

.sevenday{
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}

.sevenday>div{
    justify-content: center;
    display: flex;
    column-gap: 200px;
    text-align: center;
    font-size: 1.8vh;
}

.sevenday>div>p{
    font-size: 200px;
}

.date{
    width: 100px;
    height: 100px;
    background-color: #414770;
}