body{
    background-color: #5B85AA;
    border-color: #372248;
    border-style: double;
    border-width: 1vw;

}


.logo{
    width: 50vw;
    height: 10vh;
    background-color: #F46036;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.logo>p{
    font-size: 5vw;
}




.weather {
text-align: center;
}


nav{
    display: flex;
    column-gap: 3vw;
    justify-content: center;
    background-color: #414770;
    border-radius: 10px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

}

nav>a{
    color: #F46036;
   font-size: 3vw;
   text-align: center;

   text-decoration: none;

}


/* All articles in the index page */

.aindex{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

.aindex>article{
    display: flex;
    column-gap: 25vw;
}

.aindex>article>div{
    background-color: #414770;
    width: 35vw;
    height: 23vhw;
    border-radius: 1.2vw;
    text-align: center;
    font-size: 2.5vw;
}

.aindex>article>div>p{
    font-size: 2vw;
}

.aindex>article>img{
    width: auto;
    height: 23vw;
}

.sevenday{
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}

.sevenday>div{
    justify-content: center;
    display: flex;
    column-gap: 200px;
    text-align: center;
    font-size: 1.8vh;

}


.date{
    width: 100px;
    height: 100px;
    background-color: #414770;
    border-radius: 1vw;
}



.ent{
    display: flex;
    flex-direction: column;
    row-gap: 5vw;
    margin-top: 5vw;
    margin-left: 25%;
    margin-right: 25%;
}

.ent1{
    width: 45vw;
    height: 45vw;
    background-color: #414770;
    font-size: 3vw;
    text-align: center;
}


.ent2{
    width: 45vw;
    height: 45vw;
    background-color: #414770;
    font-size: 3vw;
    text-align: center;
}

.ent1>img{
    width: 85%;
}

.ent2>img{
    width: 60%;
}

.polgrid{
    display: grid;
    column-count: 2;
    grid-template-columns: 35vw 35vw;
    column-gap: 5vw;
    row-gap: 5vw;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.polgrid>article{
    width: 35vw;
    height: 35vw;
    background-color: #414770;
    font-size: 2.5vw;
    text-align: center;
    border-radius: 1vw;
}


.polgrid>article>p{
        font-size: 2vw;
}

.warning{
    font-size: 200%;
    color: darkred;
}

aside{
    background-color: #414770;
    width: 23vw;
}